<aside class="Hui-aside">
    <div><a href="#"><img src=""></a></div>
    <div class="menu_dropdown bk_2">
        <dl id="menu-banner">
            <dt><i class="Hui-iconfont">&#xe613;</i> 焦点图管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="banner"><a href="" title="焦点图管理">焦点图管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-featured">
            <dt><i class="Hui-iconfont">&#xe613;</i> 首页推荐位管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="featured"><a href="" title="推荐位管理">推荐位管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="article"><a href="" title="文章管理">文章管理</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>