<aside class="Hui-aside">
    <div style="height: 30px"><a href="#"><img src=""></a></div>
    <div class="menu_dropdown bk_2">
        <dl id="menu-banner">
            <dt><i class="Hui-iconfont">&#xe613;</i> 焦点图管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="banner"><a href="{{ url_for("admin.banner") }}" title="焦点图管理">焦点图管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-ad">
            <dt><i class="Hui-iconfont">&#xe613;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="ad"><a href="{{ url_for("admin.ad") }}" title="广告管理">广告管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-friend">
            <dt><i class="Hui-iconfont">&#xe613;</i> 朋友圈管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="friend"><a href="{{ url_for("admin.friend") }}" title="广告管理">朋友圈管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="article"><a href="{{ url_for("admin.article") }}" title="文章管理">文章管理</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>