<aside class="Hui-aside">
    <div style="height: 30px"><a href="#"><img src=""></a></div>
    <div class="menu_dropdown bk_2" style="min-height: 788px">
        <dl id="menu-setting">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <!--todo::<li><a href="picture-list.html" title="地图配置">地图配置</a></li> 利用百度地图或者谷歌地图标记地理未知,暂时忽略-->
                </ul>
            </dd>
        </dl>
        <dl id="menu-category">
            <dt><i class="Hui-iconfont">&#xe681;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li id="category_list"><a href="{{ url_for('admin.system_category') }}" title="栏目管理">栏目管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe6b5;</i> 管理员设定<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li id="manger_list"><a href="{{ url_for('admin.system_user') }}" title="管理员列表">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>