{% extends "admin/base/base_add.html" %}
{% block form %}
    <form role="form" method="post" class="form form-horizontal" id="form-admin-add" enctype="multipart/form-data">
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.language_id.label }}：</div>
            <div class="formControls col-xs-4 col-sm-3">
                <span class="select-box">{{ form.language_id }}</span>
                {% for error in form.language_id.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.pid.label }}：</div>
            <div class="formControls col-xs-4 col-sm-3">
                <span class="select-box">{{ form.pid }}</span>
                {% for error in form.pid.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.sort.label }}：</div>
            <div class="formControls col-xs-2 col-sm-2">
                {{ form.sort(value=result.sort) }}
                {% for error in form.sort.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.status.label }}：</div>
            <div class="formControls col-xs-4 col-sm-3">
                <span class="select-box">{{ form.status }}</span>
                {% for error in form.status.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.title.label }}：</div>
            <div class="formControls col-xs-8 col-sm-9">
                {{ form.title(value=result.title) }}
                {% for error in form.title.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.keywords.label }}：</div>
            <div class="formControls col-xs-8 col-sm-9">
                {{ form.keywords(value=result.keywords) }}
                {% for error in form.keywords.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.description.label }}：</div>
            <div class="formControls col-xs-8 col-sm-9">
                {{ form.description(value=result.description) }}
                {% for error in form.description.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.image.label }}：</div>
            <div class="formControls col-xs-8 col-sm-9">
                {{ form.image }}
                <br/>
                <br/>
                <img class="picture-thumb" src="{{ url_for("static",filename="uploads/"+result.image) }}"
                     width="100">
                {% for error in form.image.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{{ form.is_show.label }}：</div>
            <div class="formControls col-xs-4 col-sm-3">
                <span class="select-box">{{ form.is_show }}</span>
                {% for error in form.is_show.errors %}
                    <span class="c-red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                {{ form.csrf_token }}
                {{ form.submit }}
            </div>
        </div>
    </form>
{% endblock %}
{% block frontend %}
    <script type="text/javascript"
            src="{{ url_for("static",filename="admin/lib/jquery.validation/1.14.0/jquery.validate.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static",filename="admin/lib/jquery.validation/1.14.0/validate-methods.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static",filename="admin/lib/jquery.validation/1.14.0/messages_zh.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",filename="admin/h-ui.admin/js/dialog.js") }}"></script>
    {% for message in get_flashed_messages(category_filter=["error"]) %}
        <script type="text/javascript">
            var msg = "{{ message }}";
            if (msg) {
                dialog.error(msg);
            }
        </script>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["ok"]) %}
        <script type="text/javascript">
            var msg = "{{ message }}";
            if (msg) {
                dialog.success(msg);
            }
        </script>
    {% endfor %}
    <script type="text/javascript">
        $(function () {

        });
    </script>
{% endblock %}