{% extends "main/base/base.html" %}
{% block sking %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for("static",filename="lib/swiper/css/swiper.min.css") }}">
{% endblock %}
{% block header %}
    <title>Wones博客</title>
    <meta name="description" content="">
    <meta name="keywords" content="Wones">
{% endblock %}
{% block banner %}
    <div style="padding-top: 50px;">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for vo in banner %}
                    <div class="swiper-slide visible-lg visible-md"><img style="height: auto;width: 100%"
                                                                         src="{{ url_for('static',filename="uploads/images/"+vo.image) }}">
                    </div>
                    <div class="swiper-slide visible-sm visible-xs "><img style="height: auto;width: 100%"
                                                                          src="{{ url_for('static',filename="uploads/images/"+vo.smallimage) }}">
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="col-xs-12 col-sm-6 col-md-8">
        {% for vo in result %}
            <div class="media" style="padding: 15px;background: #fff;">
                {% if vo.image != "2018050722270661fd4c28611e419aa555c6d4f38691e3.jpeg" %}
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="{{ url_for("static",filename="uploads/images/"+vo.image) }}"
                                 alt="占位"
                                 style="width: 95px;height: 95px;">
                        </a>
                    </div>
                {% endif %}
                <div class="media-body">
                    <h4 class="media-heading"><a
                            href="{{ url_for("main.article_details",id=vo.id) }}">{{ vo.title|cutTitle }}</a></h4>
                    <p>{{ vo.description|cutDes }}</p>
                </div>
            <div>
                <div style="text-align: left"><span>{{ vo.category_id|getCategory }}</span></div>
                <div style="text-align:right ">111</div>
            </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for("static",filename="lib/swiper/js/swiper.jquery.min.js") }}"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 2500,
            autoplayDisableOnInteraction: false
        });
    </script>
{% endblock %}