{% extends "main/base/base.html" %}
{% block header %}
    <title>首页</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}
{% block main %}
    <div class="col-xs-12 col-sm-6 col-md-8">
        {% for vo in result %}
            <div class="media">
                <div class="media-left media-middle">
                    <a href="{{ url_for("main.article_details",id=vo.id) }}">
                        <img class="media-object" src="{{ url_for("static",filename="uploads/images/"+vo.image) }}"
                             alt="占位"
                             style="width: 95px;height: 95px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a
                            href="{{ url_for("main.article_details",id=vo.id) }}">{{ vo.title|cutTitle }}</a></h4>
                    <p>{{ vo.description|cutDes }}</p>
                    <span>{{ vo.category_id|getCategory }}</span>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}