{% extends "main/base/base.html" %}
{% block header %}
    <title>{{ article.title }}</title>
    <meta name="description" content="{{ article.description }}">
    <meta name="keywords" content="{{ article.keywords }}">
{% endblock %}
{% block sking %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for("static",filename="main/article/article.css") }}">
    <!-- markdown -->
    <link rel="stylesheet" href="{{ url_for("static",filename="lib/edit.markdown/css/editormd.css") }}">
{% endblock %}
{% block main %}
    <div class="col-xs-12 col-sm-6 col-md-8" style="background: #fff;">
        <div class="section">
            <div class="page-header">
                <h3>{{ article.title }}</h3>
                <span style="color: #0a6999"><a
                        href="{{ url_for('main.article_lists',name=article.category_id|getCategory) }}">{{ article.category_id|getCategory }}</a>
                </span> |
                <span style="color: #0a6999">{{ article.user_id|getUser }}</span>
                | <span>{{ article.create_time }}</span>
            </div>
            <div class="content" style="word-wrap: break-word;">
                <img src="{{ url_for("static",filename="uploads/images/"+article.image) }}" alt=""
                     class="img-responsive" style="padding-bottom: 20px">
                {{ article.content|safe }}
                {% if article.relationship %}
                    <hr>
                    {{ article.relationship|safe }}
                {% endif %}
                <hr>
                本文链接:<a
                    href="http://blog.motkit.com{{ url_for("main.article_details",id=article.id) }}">{{ article.title }}</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    $("p img").addClass("img-responsive");
    </script>
{% endblock %}