{% extends "main/base/base.html" %}
{% block header %}
    <title>{{ parent.name }}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}
{% block nav %}
<div class="" style="background: #ffffff;padding-top: 50px;margin-bottom: 15px">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="{{ url_for("main.article_lists",name=parent.name) }}" class="active">{{ parent.name }}</a></li>
        </ol>
    </div>
</div>
{% endblock %}
{% block banner %}
{#    <div style="margin-bottom: 15px">#}
{#        <img class="visible-lg visible-md" src="{{ url_for('static',filename="uploads/images/"+parent.image) }}" alt=""#}
{#             style="height: auto;width: 100%">#}
{#        <img class="visible-sm visible-xs" src="{{ url_for('static',filename="uploads/images/"+parent.smallimage) }}"#}
{#             alt="" style="height: auto;width: 100%">#}
{#    </div>#}
{% endblock %}
{% block main %}
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div style="background: #ffffff">
            {% for vo in article %}
                <div class="media" style="padding: 15px;background: #fff;">
                    {% if vo.image !="2018050722270661fd4c28611e419aa555c6d4f38691e3.jpeg" %}
                        <div class="media-left media-middle">
                            <a href="{{ url_for("main.article_details",id=vo.id) }}" style="width: 90px;display: block">
                                <img class="media-object img-responsive"
                                     src="{{ url_for("static",filename="uploads/images/"+vo.image) }}"
                                     alt="占位">
                            </a>
                        </div>
                    {% endif %}
                    <div class="media-body">
                        <h4 class="media-heading"><a
                                href="{{ url_for("main.article_details",id=vo.id) }}">{{ vo.title|cutTitle }}</a></h4>
                        <p>{{ vo.description|cutDes }}</p>
                    </div>
                    <div style="padding-top: 10px;overflow: hidden">
                        <span style="float: left">{{ vo.category_id|getCategory }}</span>
                        &nbsp;&nbsp;发布于{{ moment(vo.create_time).fromNow(refresh=True) }}
                        <span style="float: right"><a
                                href="{{ url_for("main.article_details",id=vo.id) }}">更多</a></span>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}