<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block header %}
        <title>Base</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
    {% endblock %}
    <meta name="author" content="jinxiu89@163.com">
    <link href="favicon.png" rel="icon" type="image/png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.4/styles/monokai_sublime.min.css">
    {% block sking %}
        <!-- Custom styles for this template -->

    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top site-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Wones博客</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="./">首页</a>
                    </li>
                    {% for vo in category %}
                        <li>
                            <a href="docs/">{{ vo.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}
{% block banner %}
    <!-- Jumbotron -->
{% endblock %}
<main class="benefits container" style="padding-top: 70px">
    <div class="row">
        {% block main %}
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="..." alt="占位" style="width: 80px;height: 80px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        <p>asd;kjdsfa;kldasf;adfjkdasfjkl;sdfajkl;asdf;dfasjkdfjkdfs</p>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block main_left %}
            <div class="col-xs-12 col-md-4" style="border-left:1px solid#dddddd;min-height: 680px;">
                <h4>最热门文章</h4>
                <ul class="nav">
                    {% for vo in hot_article %}
                        <li class=""><a href="#" style="display: block;padding: 4px 20px">{{ vo.title }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        {% endblock %}
    </div>
</main>
{% block footer %}
    <!-- Site footer -->
    <footer class="footer" style="margin-top: 40px;padding: 40px 0;background: #dddddd">
        <div class="container" style="text-align: center">
            <p>
            <ul class="list-inline">
                <li>
                    <a href="https://www.nodeapp.cn/" target="_blank">Nodejs中文文档</a>
                </li>
            </ul>
            </p>
            <p><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备000000号</a> | 京公网安备000000</p>
            <p>&copy; Wones 2018</p>
            <p>Powered by Flask </p>
        </div>
    </footer>
{% endblock %}
<script src="https://cdn.bootcss.com/highlight.js/8.4/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>